@{
    ViewData["Title"] = "Home Page";
}

<div class="cont">
    <main class="main">

        <h1>Form parameters parsing demo</h1>
        <ul>
            <li><a href="Home/ProcessManualSingle">Manual parsing in single action</a></li>
            <li><a href="Home/ProcessManualSeparate">Manual parsing in separate action</a></li>
            <li><a href="Home/ProcessBindingParameters">Model binding (parameters)</a></li>
            <li><a href="Home/ProcessBindingModel">Model binding (separate model)</a></li>
        </ul>
    </main>
</div>
